*{
  margin:0;
  padding:0;
  }

body {
  font-family: arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', "游ゴシック体", "Yu Gothic", "Yu Gothic", "游ゴシック", 'メイリオ','ＭＳ Ｐゴシック';
  background-size: auto auto;
  background-color: #fff;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 43px, #f6f6f8
  43px, #f6f6f8 64px );
  }

  a:link { 
    color: #2b2b2b;
  }
  
  a:visited {
   color:#7b6ec5;
  }

li {
  list-style: none;
}

.header {
  background-color: #a1c5fa;
  height: 100px;
  width: 100%;
}

.header-logo {
  float: left;
  padding: 30px 50px 15px 30px;
}

.header-list li {
  float: left;
  padding: 35px 35px 15px 35px;
}

.main {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  text-align: center; 
  background-color: #fff;
  color: #2b2b2b;
}

.title{
  text-align: center; 
  margin: 0 auto;
  width: 800px;
  border-bottom: 4px solid #d4d4d4;
  padding-top: 100px;
}

.copy-container{
  background-color: #fff;
  margin: 0 auto; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 300px;
}


.footer {
  background-color:  #a1c5fa;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 25px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  padding-right: 30px;
  color: #2b2b2b;
}
